:root {
  --body_background: white;
  --body_color: rgb(35, 35, 35);
  --link_color: gray;
  --light_dark: rgba(59, 59, 59, 0.474);
}

[data-theme="dark"] {
  --body_background: rgb(33, 33, 33);
  --body_color: white;
  --link_color: rgba(225, 225, 225, 0.828);
  --light_dark: rgba(193, 193, 193, 0.474);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
}

.logo img {
  width: 100px;
}
