@media only screen and (min-width: 1025px) {
  .Hero {
    flex-direction: row;
  }

  .welcome-layer {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -120vh;
    background-color: rgba(0, 0, 0, 0.821);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .discription {
    flex-grow: 1;

    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    padding-inline: 20px;
  }

  .discription h1 {
    font-weight: 800;
    letter-spacing: 1.5;
    color: var(--link_color);

    font-weight: lighter !important;
    text-transform: capitalize;
    font-size: 3rem;
    letter-spacing: 2px;
    font-family: media;
  }
  .logo img {
    width: 150;
  }

  .logo {
    background-color: var(--light_dark);
    padding-inline: 50px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Hero img {
    object-fit: contain;
    height: 80vh;
    width: 100%;
  }
  .mobile-bar {
    display: none;
  }
  .Navbar {
    width: 50%;
    z-index: 9999;
    padding-inline: 5%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }

  li {
    list-style: none;
  }

  .Navbar ul {
    height: 100%;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .Navbar ul li a {
    position: relative;
    color: var(--body_color);

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .Navbar ul li a:hover {
    color: rgba(0, 0, 0, 0.731);
  }

  .Navbar ul li a span {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 9px;
    color: var(--body_color);
  }
  .Navbar ul li a i {
    color: var(--body_color);

    font-weight: 600;
    font-size: 22px;
  }
}
