@font-face {
  font-family: media;
  src: url("E:\react project\my portfolio\public\assets\fonts\mediasans-regular-TRIAL-BF63c75479e5ff3.otf");
}

@font-face {
  font-family: new;
  src: url("E:\react project\my portfolio\public\assets\fonts\NeueHaasDisplayThin.ttf");
}

body {
  transition: 0.4s ease-in-out;
  background-color: var(--body_background);
  color: var(--body_color) !important;
  overflow-x: hidden;
  width: 100%;
  height: auto;
}

.Navbar {
  display: none;
}

.mobile-bar {
  z-index: 9999;
  padding-inline: 5%;
  width: 100vw;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.446);
  height: fit-content;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
a {
  color: var(--body_color);

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

li {
  list-style: none;
}

.mobile-bar ul {
  height: 100%;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.mobile-bar ul li a {
  position: relative;
  color: var(--body_color);

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 10px;
}

.mobile-bar ul li a:hover {
  color: rgba(0, 0, 0, 0.731);
}

.mobile-bar ul li a span {
  display: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 9px;
  color: var(--body_color);
}
.mobile-bar ul li a i {
  font-weight: 600;
  font-size: 22px;
}

/* --------- home section started from here--------- */

.home {
  flex-direction: column;
  width: 100%;
  display: flex;
}

.logo {
  padding: 20px 10px;
  margin-top: 0;
  left: 0;
  padding: 10px 0px;
  width: 100%;
  z-index: 9999;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo i {
  font-size: 25px;
}

.logo img {
  width: 120px;
}

.Hero {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
}

.discription {
  flex-grow: 1;
  gap: 15px;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  padding: 20px 0;
  padding-inline: 20px;
}
.discription h1 {
  letter-spacing: 1.5;
  color: var(--body_color);
  font-weight: lighter !important;
  text-transform: capitalize;
  font-size: 1.7rem;
  letter-spacing: 2px;
  font-family: media;
}

.discription h1 strong {
  color: var(--body_color);
  font-weight: 800;
}

.discription h1 span {
  letter-spacing: 5px;
  font-weight: 800;
  text-shadow: none;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--body_color);
}

.discription p {
  letter-spacing: 2px;
  font-family: new;
  font-weight: 500 !important;
  font-style: normal;
  font-size: 1.1rem;
  line-height: 1.4;
  letter-spacing: 1;
  color: var(--body_color);
}

.burger {
  position: relative;
  width: 30px;
  height: 20px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: var(--body_color);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 1px;
  left: 11px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 22px;
  left: 11px;
}

/* buttons */

.buttons {
  gap: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.btn {
  width: 200px;
  height: 50px;
  background: linear-gradient(to top, #444444, #18191aef, #7e7e7e);
  color: #fff;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.btn span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: top 0.5s;
}

.btn-text-one {
  font-weight: 500;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.btn-text-two {
  font-weight: 500;
  position: absolute;
  width: 100%;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
}

.btn:hover .btn-text-one {
  top: -100%;
}

.btn:hover .btn-text-two {
  top: 50%;
}

.welcome-layer {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -110vh;
  background-color: rgba(0, 0, 0, 0.821);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-layer h1 {
  letter-spacing: 5px;
  font-family: media;
  color: white !important;
  font-size: 50px;
}

/* ====================work section========================== */

.work-list {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: red;
}

.contact {
  width: 100%;
  height: 100vh;
  background-color: rgb(233, 132, 0);
}
.servis {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 169, 225);
}

/* =============about started from here=================== */

.about {
  width: 100%;
  height: 100vh;
  background-color: rgba(211, 10, 10, 0);
}

.about .profile {
  background-color: grea;
  font-family: media;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.about .profile img {
  /* background: linear-gradient(to bottom, #000000, #606060ef, #fffffffc); */
  width: 100%;
}

.about-text {
  background-color: rgba(0, 0, 0, 0.155);
  padding: 20px 20px;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.about-text button {
  border-radius: 10px;
  background-color: #000000c1;
  width: auto;
  height: 50px;
}

.about-text button a {
  font-family: media;
  color: rgb(255, 255, 255) !important;
}
.about-text h1 {
  display: flex;
  flex-direction: column;
  letter-spacing: 3px;
}
.about-text h1 strong {
  background-color: rgba(0, 0, 0, 0.456);
  padding: 10px;
  border: 1px solid black;
}
.about-text h4 {
  font-family: new;
  letter-spacing: 2px;
}

.about-text .name {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #ff0000 transparent #ff0000 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
